@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.mulish-4 {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 4;
    font-style: normal;
}

header,
section {
  overflow-x: hidden;
}

:root {
    --Mulish-font: "Mulish", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #c44b52, #e5876b);
    --mainbg: #c44b52;
    --alternativebg: #0c3444;
    --titlecolor: #0c3444;
    --alttitlecolor: white;
    --card-bg: #ffc293;
    --alternative-card-bg: #244857;
    --card-fontcolor: #0c3444;
    --alternative-card-fontcolor: #a7b6bc;
    --light-gray: rgba(255, 255, 255, 0.877);
  }

header a {
font-family: var(--Mulish-font);
font-size: 0.9em;
color: whitesmoke;
}

header {
    background: var(--mainbg);
    /* fallback for old browsers */
    background: var(--bggradient);
}

.headerhome {
    background-image: url('../assets/sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.7);
}

header .row .col-md-7 h1 {
    color: var(--titlecolor);
}

header .row .col-md-5 {
    padding: 22vmin 1vmin;
    /*padding-bottom: 35vmin; */
}

header .row .col-md-7 {
    padding: 4.2vmin 1vmin; 
}

header .col-md-7.col-sm-12.order-sm-2.order-md-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

header .row .col-md-5 img {
    width: 90%;
    border-radius: 10px;
}

a {
    color: inherit;
}

/********** section workshop **************/
.section-workshop {
    padding: 15vmin 0vmin;
    background: var(--alternativebg);
  }
  
  .section-workshop .row .col-md-6 .pray img {
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
  }
  
  .section-workshop .row .col-md-6:last-child {
    position: relative;
  }
  
  .section-workshop .row .col-md-6 .panel {
    position: relative;
    top: 5vmin;
    left: -30vmin;
    background: var(--alternative-card-bg);
    border-radius: 3px;
    text-align: left;
    /**padding: 13vmin 5vmin 20vmin 10vmin;**/
    padding: 4vmin 4vmin 2vmin 4vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .section-workshop .row .col-md-6 .panel h2 {
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
    color: var(--alttitlecolor);
  }

  .section-workshop .row .col-md-6 .panel li {
    color: var(--alternative-card-fontcolor);
  }
  
  .section-workshop .row .col-md-6 .panel p {
    font-size: 0.9em;
    color: var(--alternative-card-fontcolor);
  }

/********** section testimonials **************/
.section-testimonials {
    padding: 10vmin 0vmin;
    background: var(--mainbg);
    /* fallback for old browsers */
    background: var(--bggradient);
}

.section-testimonials .card {
    margin: 1rem;
    background: var(--card-bg);
}

.section-testimonials .card .card-body .card-title {
    color: var(--card-fontcolor);
}

.section-testimonials .card .card-body p {
    color: var(--card-fontcolor);
}

.section-testimonials h1 {
    color: var(--titlecolor);
}

/********** section wellness **************/
.section-wellness {
    padding: 20vmin 0vmin;
    background: var(--alternativebg);
}

.section-wellness h1 {
    color: var(--alttitlecolor);
}

.section-wellness .card {
    margin: 1rem;
    background: var(--alternative-card-bg);
}

.section-wellness .card .panel {
    text-align: left;
}

.section-wellness .panel h2 {
    color: var(--alttitlecolor);
}

.section-wellness .panel h3 {
    color: var(--alttitlecolor);
}

.section-wellness .panel p {
    color: var(--alternative-card-fontcolor);
}

.section-wellness .panel li {
    color: var(--alternative-card-fontcolor);
}

/********** section contact us **************/
.section-contact {
    padding: 5vmin 0vmin;
    background: var(--mainbg);
    /* fallback for old browsers */
    background: var(--bggradient);
}

.section-contact .panel {
    text-align: center;
}

.section-contact a {
    text-decoration: none;
}

.section-contact-alt {
    padding: 20vmin 0vmin;
    background: var(--alternativebg);
}

.section-contact-alt .panel {
    text-align: center;
}

.section-contact-alt a {
    text-decoration: none;
}

/********** section privacy **************/
.section-privacy {
    background: var(--alternative-card-bg);
    color: var(--alternative-card-fontcolor);
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    max-width: 50px;
    max-height: 50px;
    background: none;
    border: none;
    padding: 0;
  }
  #backToTop img {
    width: 100%; 
  height: 100%;
  }
  .hidden {
    display: none;
  }